.form-AddEdit {
    background: #FFF;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
}

.button-submit{
    border: 0px;
    cursor: pointer;
    height: 56px;
    width: 100%;
    color: #FFF;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}